html, body {
	height: 100%;
}
body{
	background: lightgray; 
}
.wrapper {
	width: 1060px;
/*	height: 950px;*/
	background-color: white;
	margin: 0 auto;
}
.logo {
	padding-left: 47px;
	padding-top: 50px;
}
.header {
	background-color: #515151;
	height: 39px;
	width: 964px;
	margin-left: 47px;
	margin-top: 40px;
}
/*.menu {
	font-family: Arial sans-serif;
	font-size: 15px;
	color: white;
	height: 39px;
	width: 964px;
}*/

 .menu {
 	float: left;
	/*display: block;*/
	margin: 0px;
	height: 39px;
	width: 145px;
}

.text1,
.text2,
.tetx3,
.tetx4 {
	font-family: Arial sans-serif;
	text-decoration: none;
	font-size: 15px;
	color: white;
	display: block;
}

.text1 {
	margin-left: 25px;
	margin-top: 12px;
}
.text2 {
	margin-left: 30px;
	margin-top: 12px;
}
.text3 {
	margin-left: 50px;
	margin-top: 12px;
}
.text4 {
	margin-left: 40px;
	margin-top: 12px;
}

#menut1:hover {
	background-color: #434343;
	border-right: 1px solid #838383;
}
#menut2:hover {
	background-color: #434343;
	border-right: 1px solid #838383;
	border-left: 1px solid #838383;
}
#menut3:hover {
	background-color: #434343;
	border-right: 1px solid #838383;
	border-left: 1px solid #838383;
}
#menut4:hover {
	background-color: #434343;
	border-right: 1px solid #838383;
	border-left: 1px solid #838383;
}




