
.header {
	height: 173px;
	background: linear-gradient(#128aa7 27px, #5ef0ff 2px, #12cde2, #ffffff);
}

.main {
	height: 173px;
	width: 1000px;
	background-color: #ffffff;
	margin: 0 auto;
	-webkit-box-shadow: -1px 3px 63px -10px rgba(23,44,107,1);
	-moz-box-shadow: -1px 3px 63px -10px rgba(23,44,107,1);
	box-shadow: -1px 3px 63px -10px rgba(23,44,107,1);

}

.logo {
	float: left;
	margin-top: 8px;
    margin-left: 28px;
}

.contacts {
	float: right;
	margin-top: 10px;
    margin-right: 34px;
    font-size: 12px;
    color: #5fa5bb;
    font-family: tahoma;

}

h1 {
    line-height: 24px;
    font-weight: bold;
}

h2, h3, h4 {
	line-height: 15px;
}

.trips {
	float: right;
	clear: right;
}

.trips {
	width: 367px;
    margin-top: 29px;
}

.ic_img {
	float: left;
	width: 56px;
	text-align: center;
}

.ic_txt {
	font-size: 10px;
    color: #5fa5bb;
    font-family: tahoma;
}

.ic_text {
	float: left;
	display: block;
	width: 56px;
	text-align: center;

}
.clearfix:after {
	content: '';
	clear: both;
	display: block;

}
.container_wrapper {
	margin: 0 auto;
	height: 110vh;
	background: linear-gradient(#40c5d3, #0c739f);
	position: relative;

}
.container {
	margin: 0 auto;
	position: relative;
	width: 1000px;
}

.beach {
	height: 237px;
	width: 1000px;
	margin: 0 auto;
	border-top: 2px solid #12cde2;
	-webkit-box-shadow: -1px 3px 63px -10px rgba(23,44,107,1);
	-moz-box-shadow: -1px 3px 63px -10px rgba(23,44,107,1);
	box-shadow: -1px 3px 63px -10px rgba(23,44,107,1);

}

.main_menu {
	height: 27px;
	width: 1000px;
	background-color: #343434;
	margin: 0 auto;
	border-top: 2px solid #12cde2;
	-webkit-box-shadow: -1px 3px 63px -10px rgba(23,44,107,1);
	-moz-box-shadow: -1px 3px 63px -10px rgba(23,44,107,1);
	box-shadow: -1px 3px 63px -10px rgba(23,44,107,1);
}

ul {
    display: block;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
    height: 27px;
    width: 142px;
    text-align: center;
}
ul.menu > li > a {
    display: block;
    padding: 6px;
    color: #ffffff;
    font-family: tahoma;
    font-size: 14px;
    background-color: #343434;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: black;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 150px;
    top: 28px;
    left: 0;
    background-color: white;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 6px;
    color: #ffffff;
    font-family: tahoma;
    font-size: 14px;
    background-color: #343434;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
    z-index: 10;
}

.inform {
	position: relative;
	display: block;
	float: left;

	background-color: #edeef0;
	width: 210px;
	height: 545px;

}

.front {
	position: relative;
	display: block;
	float: left;
	height: 545px;
	width: 580px;
	background-color: #ffffff;

}

.news {
	position: relative;
	display: block;
	float: right;
	
	background-color: #edeef0;
	width: 210px;
	height: 545px;

}

.news > h1 {
	color: #424c43;
    font-family: tahoma;
    font-size: 18px;
    text-align: center;
    line-height: 30px;

}

.news > h2 {
	color: #424c43;
    font-family: tahoma;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}

.inform > h1 {
	color: #424c43;
    font-family: tahoma;
    font-size: 18px;
    text-align: center;
    line-height: 30px;

}

.inform > h2 {
	color: #424c43;
    font-family: tahoma;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}

.content {
	position: relative;
	display: block;
	content: ' ';
	clear: both;
	height: 545px;
	-webkit-box-shadow: -1px 3px 63px -10px rgba(23,44,107,1);
	-moz-box-shadow: -1px 3px 63px -10px rgba(23,44,107,1);
	box-shadow: -1px 3px 63px -10px rgba(23,44,107,1);
	

}

.footer {
	width: 1000px;
	position: relative;
	margin: 0 auto;
	font-family: tahoma;
    font-size: 12px;
    color: #ffffff;
	text-align: center;
	clear: both;
	padding-top: 12px;
}

